body{
    background-color: lightgray;
}
h1{
    font-size: 30px;
    color: #ff04c0;
}
p{
    font-size: 20px;
    color: #ac4d00;
}

img{
    width: 200px;
    height: auto;
    border-radius: 5%;
    margin-top: 10px;
}

.big{
    font-size: 60px;
}

span{
    font-size: 30px;
    color: #008000;
    text-decoration: underline;
    cursor: pointer;
}
